<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>
{{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <div class="row">
                    <!-- left row side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                      <figure>
                        <img src="images/240_F_257890478_ujNJoqQ5KeLZHUu9MG4UHMkTwUQu5iap.jpg" alt="image" class="img-fluid" title="image" style="height: 500px; width: 500px;">
                      </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I am a <span class="">Web developer</span> and exploring new things</h1>
                        <a href="https://www.google.com" target="_chintu"><button>About me</button></a>
                    </div>
                    <!-- right row side -->
                   
                </div>
            </div>
        </div> 
    </div> 
    
    <!-- Footer -->

    {{>footer}}
  </body>
</html>